---
import { siteConfig } from "@/site.config";
import "@/assets/styles/globals.css";

//components
import BaseHead from "@/layouts/BaseHead";
import Header from "@/components/Header.astro";
import Menu from "./common/Menu.astro";
import Footer from "@/components/Footer.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate }
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} date={articleDate} />
    <title>{title}</title>
  </head>
  <body id="pageBody">
    <!--<ThemeProvider />-->
    <Header />
    <main id="main" class="main">
      <div class="sidebar"><Menu /></div>
      <div class="content">
        <slot><p>This is my fallback content, if there is no child passed into slot</p></slot>
      </div>
    </main>
    <Footer />
    <script>
      function toggleStyle(elem: HTMLElement) {
        if (elem.classList.contains("darkBg")) {
          elem.classList.remove("darkBg");
          elem.classList.add("lightBg");
        } else if (elem.classList.contains("lightBg")) {
          elem.classList.remove("lightBg");
          elem.classList.add("darkBg");
        }
      }
      const themeToggle = document.querySelector("#themeToggle");
      const bodyPart = document.querySelector("body") as HTMLBodyElement;
      themeToggle?.addEventListener("click", () => {
        console.log("clicked");
        toggleStyle(bodyPart);
      });
    </script>
  </body>
</html>
